@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional global styles can be defined here */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Disable focus outline borders on Recharts SVG segments */
.recharts-default-tooltip,
.recharts-pie-sector,
.recharts-pie-sector:focus,
path:focus,
g:focus,
svg:focus {
  outline: none !important;
}

